.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-family: "Open Sans", serif;
}

ul {
  font-family: "Roboto", serif;
  padding: 0;
}

ul li {
  padding: 0;
  list-style: none;
  min-width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.container button {
  font-family: "Roboto", serif;
  font-size: 1em;
  color: #fff;
  background-color: rgb(235, 50, 50);
  border-radius: 4px;
  padding: 5px;
  border: 1px solid black;
  margin-left: 15px;
  cursor: pointer;
}

.container ul li div a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.container span {
  font-size: 23px;
}
